.box {
    display: flex;
    flex-wrap: wrap;
    width:600px;
    height:500px;
    flex-direction:column;
}
.head {

    width: 650px;
    background-color: #12b53e;
    height: 100px;
    margin: 1px;
}

.nav {

    width: 150px;
    height: 200px;
    background-color: #12b53e;
    margin: 2px;
}
.ads{
    width: 150px;
    height: 200px;
    background-color:#12b53e;
    margin: 2px;
}
.article{
    width: 500px;
    height: 300px;
    background-color: #12b53e;
    margin: 2px;
}
.footer{
    width: 500px;
    height:100px;
    background-color: #12b53e;
    margin: 2px;
}

